@import url("cabecalho.css");
@import url("busca.css");
@import url("secaoBanner.css");
@import url("secaoCategoria.css");
@import url("secaoProdutos.css");

:root {
    --font-primary: 'Inter', sans-serif;
    --palet-primary-black: #000000;
    --palet-primary-gray: #cccccc;
    --palet-primary-white: #ffffff;
    --palet-primary-yellow: #daff01;
    --palet-primary-purple: #9353ff;
    --palet-secondary-red: #ee6471;
    --palet-secondary-orange: #f87f46;
    --palet-secondary-black: #343A40;
}

body {
    font-family: var(--font-primary);
}

h3 {
    font-size: 28px;
    font-family: var(--font-primary);
    font-weight: 500;
}

h5 {
    font-size: 16px;
    font-family: var(--font-primary);
    font-weight: 700;
}
